h1{
	background: #2980b9;
	color: white;
	font-family: Ubuntu;
	font-size: 24px;
	margin: 0;
}

#container{
	width: 	360px;
	margin: 100px auto;		
	background: #f7f7f7;
	box-shadow:  0 0 3px rgba(0,0,0,0.1);
}

.done{
	text-decoration: line-through;
	color: grey;
}

input{
	border: 0;
	padding-top: 0;
	margin: 0;
	width: 360px;
	height: 30px;
}

ul{
	list-style: none;
	margin: 0;
	padding:0;
}

.delete{
	background: red;
}

body{
	font-family: ubuntu;
}